@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;600;800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}

/* Base custom classes to match previous aesthetic if needed */
@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }
}
